.carousel {
  /*border: 3px solid red;*/
  text-align: center;
  overflow-x: hidden;
  max-width: 100%;
}
.carousel input {
  display: none;
}
.carousel .slides {
  inline-size: 300%;
  display: flex;
}
.carousel label {
  display: inline-block;
  block-size: 16px;
  inline-size: 16px;
  border: medium solid #424242;
  border-radius: 50%;
  cursor: pointer;
  margin-inline: 0.25rem;
}
