@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
@import "./reset.css";
@import "./hero.css";
@import "./header.css";
@import "./main.css";
@import "./conceptos.css";
@import "./carousel.css";
@import "./footer.css";
@import "./contact.css";
@import "./components/wrapper.css";
@import "./components/section-content.css";

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
figure img {
  max-inline-size: 100%;
}
body {
  overflow-x: hidden;
}
